/*--------------------------------------------------
GENERAL
--------------------------------------------------*/

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: 16px;
  background: url('images/bkgd-shadow.png') 0 0 repeat-x #e0e0d8;
  text-shadow: 0 1px 0 #fff;
  margin: 0;
  padding: 0;
  color: #000;
}

img { border: 0; }

a { color: #000; }
a:hover { color: #c56342; }

h1 {
  font-size: 44px;
  line-height: 1.0em;
  letter-spacing: -1px;
  margin-top: 60px;
  margin-bottom: 0;
}

h2 {
  font-size: 21px;
  font-weight: normal;
  color: #666;
  line-height: 1.3em;
  margin-bottom: 20px;
}

h3 { font-size: 32px;}

.container {
  width: 950px;
  margin: 0 auto;
}

.nav, .intro, .villains, .how, .footer { overflow: hidden; clear: both; }

/*--------------------------------------------------
NAV
--------------------------------------------------*/

.nav { margin-top: 30px; width: 500px; float: right; font-size: 14px; }
.nav ul { margin: 0; padding: 0; }
.nav ul li { display: inline; list-style-type: none; margin-left: 30px; }
.nav ul li.first { margin-left: 5px; }
.nav ul li a { color: #999; font-weight: bold; text-decoration: none; border-bottom: 2px solid #d2d2ca; }
.nav ul li a:hover { color: #000; border-bottom: 2px solid #c56342; }

/*--------------------------------------------------
MEAT
--------------------------------------------------*/

.intro { border-bottom: 1px solid #d2d2ca; padding-bottom: 30px; }

a.screencast {
  display: block;
  width: 300px;
  height: 50px;
  background: url('images/btn-screencast.png') 0 0 no-repeat;
  text-decoration: none;
  text-indent: -10000em;
}

a.screencast:hover { background: url('images/btn-screencast.png') 0 -51px no-repeat; }

.logo {
  float: left;
  width: 410px;
  margin-right: 40px;
}

.middle { float: left; width: 500px; }

.villains, .how {
  border-top: 1px solid #d2d2ca;
  border-bottom: 1px solid #d2d2ca;
  padding: 15px; margin-top: 2px;
}

.villains p { margin-top: 40px;}

.maintenance, .gem { clear: both; }

.how h3 { margin-bottom: 5px; }

code { font: 16px Monaco,'Courier New','DejaVu Sans Mono','Bitstream Vera Sans Mono',monospace; }

code span.light {
  color: #999;
  text-shadow: none;
}

.install code {
  background-color: #d2d2ca;
  float: left;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.install .source {
  color: #999;
  font-size: 12px;
  padding: 15px 20px;
  float: left;
}

.install .source a {
  padding: 0 2px;
  text-decoration: none;
  font-weight: bold;
  color: #999;
  border-bottom: 1px solid #d2d2ca;
}

.install .source a:hover {
  color: #000;
  border-bottom: 1px solid #c56342;
}

.bottom {
  overflow: hidden;
  background: url('images/bkgd-footer.png') bottom repeat-x;
}

.footer {
  color: #999;
  width: 916px;
  margin: 2px auto 30px;
  font-size: 11px;
  line-height: 1.3em;
  border-top: 1px solid #d2d2ca;
  padding: 15px 18px;
}

.footer a {
  text-decoration: none;
  color: #999;
  border-bottom: 1px solid #d2d2ca;
}

.footer a:hover {
  color: #000;
  border-bottom: 1px solid #c56342;
}

.footer img { margin-top: 8px; }

/*--------------------------------------------------
MANUAL
--------------------------------------------------*/

body.manual div.container {
  width: 660px;
  padding-bottom: 80px;
}

body.manual div.container p.back {
  margin-left: -18px;
  margin-top: 50px;
  color: #999;
}

body.manual div.container p.back a { color: #999; font-weight: bold; text-decoration: none; border-bottom: 2px solid #d2d2ca; }
body.manual div.container p.back a:hover { color: #000; border-bottom: 2px solid #c56342; }

body.manual pre { background-color: #d2d2ca; padding: 5px 10px; border-radius: 5px; }

body.manual h1 { margin-bottom: 30px; }

body.manual h2 {
  font-size: 32px;
  color: #000;
  font-weight: bold;
  border-top: 3px double #d2d2ca;
  padding-top: 20px;
  margin-bottom: 20px;
  line-height: normal; }

body.manual h3, body.manual h4 {
  font-size: 21px;
  color: #000;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 30px;
  margin-bottom: 0;
}

body.manual p code {
  font-size: 14px;
  background-color: #d9eaeb;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #d2d2ca;
}
